<div class="p-4 flex flex-col justify-between" ...attributes>
  <div id="waypoints-sidebar-div" class="overflow-y-auto"
    {{set-scroll-to}}
  >
  {{#each this.regions as |region|}}
    <h2 class="text-2xl">{{region}}</h2>
    <ul class="py-4">
      {{#each this.sortedItems as |item|}}
        {{#if (or
          (and
            (lte item.afterDate this.neatlineFilter.afterYear)
            (not item.beforeDate)
          )
          (and
            (lte item.afterDate this.neatlineFilter.afterYear)
            (gte item.beforeDate this.neatlineFilter.beforeYear)
          )
            )}}
          <Waypoints::Item @region={{region}} @item={{item}} />
        {{/if}}
      {{/each}}
    </ul>
  {{/each}}
  </div>
  <div class="pt-3">
    <p>©2023. Some footer text…</p>
  </div>
</div>