<header class="flex flex-row w-full h-52 justify-between items-center px-4 space-x-4 bg-white">
    {{svg-jar "rih-logo" class="h-[12.5rem]"}}
    <div class="flex-col flex w-full h-full justify-evenly">
      <h1 class="text-4xl">Critical Histories of Harm Reduction</h1>
      <Navbar />
    </div>
</header>
