<header class="flex flex-col w-full">
  <div class="w-full flex flex-row p-4">
    <img src="logo.png" alt="RIH logo" />
    <p class="flex-grow text-5xl">Critical Histories of Drugs and Harm Reduction</p>
  </div>
  <Navbar />
</header>
