<div class="min-w-[300px]">
  <h3 class="text-2xl font-bold">
    {{this.item.elementTexts.DCtitle}}
  </h3>

  <div class="overflow-y-auto w-full h-[20rem]">
    {{markdown-to-html this.item.elementTexts.DCdescription}}
  </div>
</div>

