<nav class="w-full flex flex-row bg-[#660000] text-white justify-between p-4">
  <div>
    About
  </div>
  <div>
    Mapping Reflections
  </div>
  <div>
    Browse Collections
  </div>
  <div>
    Timeline
  </div>
  <div>
    Student Papers
  </div>
  <div>
    Contact Us
  </div>
</nav>
