<nav class="w-full flex flex-row bg-[#a11d21] text-white justify-between py-2 px-4" ...attributes>
  <a href="https://samuelkroberts.sandbox.library.columbia.edu/CMS/historical-atlas"
    class="hover:text-slate-200">
    <div class="cursor-not-allowed">
      About
    </div>
  </a>
  <div class="cursor-not-allowed">
    Mapping Reflections
  </div>
  <a href="https://samuelkroberts.sandbox.library.columbia.edu/CMS/collections/show/1"
    class="hover:text-slate-200">
    <div>
      Browse Collection
    </div>
  </a>
  <div class="cursor-not-allowed">
    Timeline
  </div>
  <div >
    <LinkTo @route="student-papers" class="hover:text-slate-200">Student Papers</LinkTo>
  </div>
  <a href="https://samuelkroberts.sandbox.library.columbia.edu/CMS/about-us/credits"
  class="hover:text-slate-200">
    <div>
      Credits
    </div>
  </a>
</nav>