<nav class="w-full flex flex-row bg-[#a11d21] text-white justify-between py-2 px-4" ...attributes>
  <a href="https://samuelkroberts.sandbox.library.columbia.edu/CMS/historical-atlas"
    class="hover:text-slate-200">
    <div>
      About
    </div>
  </a>
  <div class="cursor-not-allowed">
    Mapping Reflections
  </div>
  <a href="https://samuelkroberts.sandbox.library.columbia.edu/CMS/collections/show/1"
    class="hover:text-slate-200">
    <div>
      Browse Collection
    </div>
  </a>
  <div class="cursor-not-allowed">
    Timeline
  </div>
  <div class="cursor-not-allowed">
    Student Papers
  </div>
  <div class="cursor-not-allowed">
    Contact Us
  </div>
</nav>
