<div class="p-4 flex flex-col justify-between" ...attributes>
  <div class="overflow-y-auto">
    <ul class="py-4">
      {{#each this.sortedRecords as |record|}}
        {{#if (or
          (and 
            (lte record.afterDate this.neatlineFilter.afterYear)
            (not record.beforeDate)
          )
          (and
            (lte record.afterDate this.neatlineFilter.afterYear)
            (gte record.beforeDate this.neatlineFilter.beforeYear)
          )
            )}}
          <Waypoint @record={{record}} />
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="pt-3">
    <p>Some other text…</p>
  </div>
</div>
