<div class="overflow-y-auto p-4" ...attributes>
  <h2 class="text-3xl font-bold">Waypoints Filter: {{this.neatlineFilter.year}}</h2>

  <ul class="py-4">
    {{#each @records as |record|}}
      {{#if (or
        (and 
          (lte record.afterDate this.neatlineFilter.year)
          (not record.beforeDate)
        )
        (and
          (lte record.afterDate this.neatlineFilter.year)
          (gte record.beforeDate this.neatlineFilter.year)
        )
          )}}
        <Waypoint @record={{record}} />
      {{/if}}
    {{/each}}
  </ul>
</div>
