<div class="w-full timeline">
  {{this.defaultYear}} is the default year.
  <svg class="timeline-svg w-full">
    <Timeline::Scale @scale={{this.scale}} transform="translate(30, 30)"/>
  </svg>
</div>

