<div class="flex flex-row w-full">
  <NeatlineMap @records={{@model}} />
  <div>
    <p>
      waypoints
    </p>
  </div>
</div>

<Timeline/>

<p>
  Explanation of map content, intended use
</p>
{{outlet}}
